.gitignnore file
# Ignore build artifacts
build/
bin/
obj/
Assets/
# Ignore sensitive configuration files
config.ini
# Ignore temporary files
*.tmp
# Ignore macOS system files
.DS_Store
# Ignore user-specific files
user_settings.json
# Ignore IDE-specific files and directories
.vscode/
.idea/
# Ignore log files - 
*.log 


#Steps 
#UPDATING CHANGING SO THAT WE CAN JUSTIFY THAT UPDATED CODE PULLED IN OUR LOCAL SYSTEM
#AS YOU CAN SEE THERE IS NOT ASSETS FOLDER IN THIS GITHUB and S3 FOLDER WILL BE PULL FROM AWS S3 
